.home{
   /* background-image: url("https://images.unsplash.com/photo-1663657473556-a8928dc06be9?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     width: 100vh; */
    height:100%;
    padding-top: 10vh;
    font-family: monospace;
    width: 100%;
    height: 100vh;
    /* Add your background pattern here */
    background-color: #ffffff;
    background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}
/* From Uiverse.io by adamgiebl */ 
.start-btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #63c2f5;
    background: #fafafa;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #63c2f5;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #58a0d0;
  }
  
  .start-btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #58a0d0;
  }
  
  .start-btn:active {
    transform: scale(0.9);
  }